<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.blog.mapper.CommentMapper">


    <select id="commentByArticleId" resultType="com.xy.blog.entity.Comment" >
        select *
        from sg_comment
        where article_id = #{article_id} and type=0
        order by create_time desc limit #{pageNum}, #{pageSize};
    </select>


    <select id="selectCommentCount"  resultType="java.lang.Integer">
        select count(*)
        from sg_comment
        where article_id=#{articleId} and del_flag=0 and type=0;

    </select>

    <select id="selectLinkCommentCount" resultType="java.lang.Integer">
        select count(*)
        from sg_comment
        where type =1 and del_flag=0;

    </select>

    <delete id="deleteError">
        DELETE from sg_comment where create_by=-1;
    </delete>
</mapper>
