<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.blog.mapper.CommentMapper">


    <select id="commentByArticleId" resultType="com.xy.blog.entity.Comment" >
        select *
        from sg_comment
        where article_id = #{article_id} and type=0
        order by create_time desc limit #{pageNum}, #{pageSize};


    </select>
</mapper>
