<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.blog.mapper.ArticleMapper">

    <update id="updateViewCount" parameterType="com.xy.blog.entity.Article">
        update sg_article
        set view_count=#{viewCount}
        where id =#{id};

    </update>

    <select id="getArticleCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM `sg_article`
        where `status` = 0
          and del_flag = 0;

    </select>

    <select id="getMyArticleTotal" resultType="java.lang.Integer">
        SELECT count(*)
        FROM `sg_article`
        where `status` = 0
          and del_flag = 0
          and create_by = #{userId};


    </select>

    <select id="getTotalView" resultType="java.lang.Integer">
        SELECT IFNULL(sum(view_count),0) FROM `sg_article` where `status`=0 and del_flag=0 and create_by=#{userId};
    </select>
</mapper>
